layout {
    default_tab_template {
      // the default zellij tab-bar and status bar plugins
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
  tab name="w0" cwd="w0" {
    pane command="lazygit"
  }
  tab name="w1" cwd="w1" {
    pane command="lazygit"
  }
  tab name="w2" cwd="w2" {
    pane command="lazygit"
  }
  tab name="w3" cwd="w3" {
    pane command="lazygit"
  }
  tab name="w4" cwd="w4" {
    pane command="lazygit"
  }
  tab name="w5" cwd="w5" {
    pane command="lazygit"
  }
}
